

        <div >
          
            <div class="mb-3">
             {% if article.image %}
                 <img class="w-full" src="{{ article.image | img_url:"master" }}" />
                {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-full' }}
             {% endif %}
            </div>
              <div class="mb-2">{{ article.author }}</div>
              
              <h1 class="title-font text-lg font-medium text-gray-900 mb-2">{{ article.title }}</h1>
             <div class="mb-2">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
                {% else %}
                {{ article.content | strip_html | truncatewords:20 }}
              {% endif %}
            </div>
            <div class="mb-2 ">
                {% for tag in article.tags -%}
                 <span  class="px-2 py-1 border border-gray-200 rounded-md mr-2">{{ tag | link_to_tag: tag }} </span>
                {% endfor %}
            </div>
            <div class="flex items-center flex-wrap mb-2">
                <a href="{{ article.url }}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
                    Read More
                </a>
                
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg width="17" class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                  {{ article.comments_count }}
                </span>
            </div>
           
          </div>
      
      
