<!DOCTYPE html>
    <html>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        {{ content_for_header }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {{ 'application.css' | asset_url | stylesheet_tag }}
        {{ 'shopify-money.js' | asset_url | script_tag }}
        {{ 'custom.js' | asset_url | script_tag }}
      </head>
    
      <body>
        {% section 'cart-drawer' %}
        {% sections 'header-group' %}
        
       <main id="main">
        {{ content_for_layout }}
       </main>
       <style>
        summary {
          list-style: none;
      }
      </style>
      </body>
     </html>
    